body{
    background : linear-gradient(120deg,pink,aqua,);
    color: white;
    width:500px;
    margin-right: auto;
    margin-left: auto;

}
button{
    background : linear-gradient(120deg,aqua,yellow);
    padding:5px 20px;
    background-color:darkblue;
    border-style:none;
    border-radius: 50px;
    color:white;
}
input{
    height:20px;
    border-radius:50px;
}
div{
    border-radius: 10px;
}
